.edit-stations, .edit-sensors, .edit-groups {
    padding: 0 10px;
    float: left;
    width: 1000px;
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

.edit-sensors .for-buttons input, .edit-stations .for-buttons input, .edit-groups .for-buttons input, .edit-config .for-buttons input[type="submit"], .meteo-data .for-buttons input[type="submit"], .edit-config input[type="button"], .white-button {
    width: 280px;
    height: 45px;
    background: #334;
    border: 0px;
    border-radius: 30px;
}

h1 {
    color: #595;
}

label.attention {
    margin: 10px;
    font-size: 18px;
    color: #888;
}

div.error-station, div.error-sensor, div.error-group {
    text-align: center;
    background: darkred;
    color: white;
    font-size: 18px; /* !! Не работает! Разобраться.*/
    border-radius: 5px;
}

div.error-weather {
    margin: 5px;
}

.meteo-data div.choose-station input[type="submit"], .edit-config div.choose-station input[type="button"],#ask_station {
    width: 240px;
    height: 35px;
    background: #334;
    border: 0px;
    border-radius: 30px;
}

input[type="text"] {
    width: 490px;
    font-size: 18px;
    padding: 2px;
}

input.very-narrow[type="text"] {
    width: 50px;
}

input[type="text"].regex {
    width: 490px;
}

select.choose-station {
    width: 300px;
}

select {
    width: 400px;
    font-size: 18px;
    padding: 2px;
}

input[type="submit"], input[type="button"] {
    font-size: 18px;
    padding: 2px;
}

.white-button {
    width: 200px;
    background: #eee;
}

td span.little {
    font-size: 12px;
}

textarea {
    resize: vertical;
}

div.choose-station {
    text-align: center;
}

.edit-config div.choose-station input[type="button"].show_create_setting, #ask_station{
    margin: 5px;
    color: white;
    width: 1000px;
    height: 40px;
}

#darken-background,#darken-update-background {
    display: none;
    opacity: 0.8;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    background-color: rgba(1, 1, 1, 0.725);
    z-index: 100;
    overflow: auto;
}

.pop-up-window {
    width: 700px;
    height: 376px;
    margin: 150px auto;
    display: none;
    background: #fff;
    z-index: 200;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}

#error-darken-background {
    display: none;
    opacity: 0.8;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    background-color: rgba(1, 1, 1, 0.725);
    z-index: 300;
    overflow: auto;
}

.notice-window {
    width: 500px;
    height: 400px;
    margin: 310px auto;
    display: none;
    background: #fff;
    z-index: 400;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}

.close {
    position: absolute;
    left: 630px;
    right: 0;
    top: -10px;
    cursor: pointer;
}

#error-text{
}
.error-close {
    position: absolute;
    left: 440px;
    right: 0;
    top: -10px;
    cursor: pointer;
}

.table-in-window input[type="text"] {
    width: 400px;
}

div.shift-to-right {
    font-size:18px;
    position: relative;
    left:10px;
    top:4px;
    height: 30px;
}

div.error-shift-to-right {
    font-size:18px;
    position: relative;
    left:10px;
    top:4px;
    height: 30px;
}

div.color-label {
    margin: 2px 0;
    text-align: left;
    vertical-align: text-top;
}

.edit-config .table tr input[type="button"].little-button {
    border-radius: 40px;
    width: 90px;
    height: 70px;
}

.edit-config .table tr input[type="button"].little-button:nth-child(2) {
    margin: 0 5px;
}

#create_setting,#create_station,#update_station,#delete_station{
    height:55px;
}

#color-label-div {
    display: none;
    display: none;
}
#config-table {
    display: none;
}

#meteo-table{
    display: none;
}

#downloading{
    text-align: center;
    display:none;
}
#downloading_img{
    width:50px;
    height:50px;
}
#thin-row{

}