body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-layout {
    width:1200px;
    margin:0 auto;
}

.clearboth{
    clear:both;
}

.green {
    background: #595;
    color:white;
}

.black {
    background:#334;
    color:#ccc;
}

.header {
    margin: 0 auto;
    width:100%;
    height:50px;
    box-shadow: 1px 1px 4px #999;
}

.header a{
    margin:0 20px;
    width:100px;
}

.brand {
    display: block;
    margin-left: 0;
    height:40px;
    padding-top:10px;
    font-size: 1.6em;
    font-weight: 200;
    color: #a0aa70;
    opacity:0.8;
    text-shadow: 0 1px 0; 
}

.site-logo {
    background:url(../images/Mephi.png) 35% 50% no-repeat;
    background-size: 70px 70px;
}

.menu-container {
    float:left;
    margin:3px 0;
    width:170px;
    height:600px;
    padding:0;
    box-shadow: 1px 2px 4px #999;
}

.menu{
    list-style:none;
    padding-left:0;
}

.menu a{
    display:block;
    margin-top:-2px;
    padding:10px 5px;
    font-size:1.2em;
    text-decoration:none;
    color:white;
    border: 2px solid #ccc;
    border-left: none;
    border-right: none;
}

.footer{
    width:100%;
    height:50px;
    box-shadow: 1px 1px 4px #999;
}