div .edit-config, div .meteo-data {
    padding: 0 10px;
    float:left;
    width: 1000px;
    margin: 0;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

.table{
    width: 1000px;
    table-layout: fixed;
    word-wrap: break-word;
}

.meteo-data h1,.edit-config h1,.edit-stations h1, .edit-groups h1,.edit-sensors h1{
    text-align:center;
    font-size:1.8em;
    margin:-45px 10px 20px;
    color: white;
}

.table{
    width:inherit;
    margin:0 auto;
    border-collapse:collapse;
}

.table th{
    color:  white;
    text-align:left;
    /*background-color:darkcyan;*/
    background:#334;
    border-top:1px solid black;
    border-bottom:1px solid black;
    padding:5px;
}

.table td{
    padding:5px;
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
}

.table tr:nth-child(2n){
    background-color:rgba(85, 153, 85, 0.4);
}

.table td,.table th{
    text-align:center;
}

.first-table td,.first-table th{
    width:33%;
    text-align: center;
}

.table .date-time-label{
}

.table .date-time-value{
}

.edit-config .date-time,.meteo-data .date-time{
    font-size:1.2em;
}

.second-table{
    font-stretch: ultra-condensed;
}

col.narrow{
    width:100px;
}

col.medium{
    width:150px;
}

col.wide{
    width:290px;
}
col.superwide{
    width:450px;
}

.table-in-window{
    padding:0 30px;
}
.table-in-window col.narrow{
    width: 150px;

}
.table-in-window col.wide{
    width:400px;
}
.config-table .config-table-column{
    width: 180px;
}

.config-table .narrow{
    width: 75px;
}

.config-table .button-column{
    width: 220px;
}